In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("C:/Users/M Yusuf/hacktiv8/DATA/archive/trending.csv")

In [5]:
num_rows, num_cols = df.shape
print("num_rows:", num_rows)
print("num_cols:", num_cols)

num_rows: 14523
num_cols: 26

In [6]:
df.head(10)

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,...,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,NaN,NaN,SMTOWN,NaN,10,...,True,True,NaN,NaN,7806846.0,857902.0,24078.0,0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,NaN,NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",25,...,False,True,NaN,NaN,885038.0,6765.0,1263.0,0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,NaN,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",2,...,False,True,NaN,NaN,889708.0,47895.0,532.0,0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,NaN,NaN,yb,NaN,20,...,False,True,NaN,NaN,1006854.0,91973.0,3967.0,0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,NaN,NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",17,...,False,True,NaN,NaN,6275035.0,218131.0,4289.0,0,12799.0,2021-02-07 05:46:51.832730+00:00
5,2021-02-03T12:00:03Z,UC6FjcBcH9NVHdfFSvNfHmuA,SEMPROD: RAFFI AHMAD NONGKRONG SAMA GADING UUS...,"Halo Temen GUA & Cah BAGUS,\nEpisode sangat sp...",NaN,NaN,NaN,KUY Entertainment,"['KUY Entertainment', 'KUY Media', 'KUY', 'raf...",24,...,False,True,NaN,NaN,1807529.0,63530.0,978.0,0,5608.0,2021-02-07 05:46:51.832751+00:00
6,2021-02-02T13:39:46Z,UCRVhCi6T_-Ogs9MPDh3kX1w,"Moeldoko Sebut Datang Atas Nama Pribadi, Andi ...","Apa Kabar Indonesia - Jakarta, tvOnenews.com -...",NaN,NaN,NaN,Apa Kabar Indonesia tvOne,"['tvone', 'tvonenews', 'tv one', 'tvone live',...",25,...,False,True,NaN,NaN,1493171.0,8672.0,1694.0,0,9751.0,2021-02-07 05:46:51.832766+00:00
7,2021-02-06T03:46:12Z,UCfx3oPv3cJm2aCJ7UnhKx8A,MAK BETI PUNYA SAUDARA,Halo tim bar bar dan betizen akhirnya kita kol...,NaN,NaN,NaN,Arif muhammad,"['arif muhammad', 'mak beti', 'ma beti', 'mama...",23,...,False,True,NaN,NaN,1804541.0,105824.0,2339.0,0,11291.0,2021-02-07 05:46:51.832780+00:00
8,2021-02-03T13:03:47Z,UCmlgRPrwvyHaS1jYXJifNqg,sopankah begitu?,Daftar di Binomo dan dapatkan bonus $1000 di a...,NaN,NaN,NaN,Picky Picks,"['Picky Picks', 'Bimopd', 'Picky Picks Cringe']",22,...,False,True,NaN,NaN,1955271.0,118548.0,1586.0,0,8668.0,2021-02-07 05:46:51.832791+00:00
9,2021-01-28T07:00:07Z,UCdpxBSzxXGz_J4K30YGvk_Q,LEPAS HIJAB! RACHEL VENNYA BUKA SUARA KE BOY W...,Beredar di berita akhir-akhir ini tentang my f...,NaN,NaN,NaN,Boy William,NaN,24,...,False,True,NaN,NaN,8120183.0,327253.0,14383.0,0,16660.0,2021-02-07 05:46:51.832803+00:00

In [7]:
df.tail(15)

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,...,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
14508,2021-05-24T06:23:46Z,UCwFc1bMj5KFxX8BJ1wBRuzw,"Seorang Ibu Menipu Penjual Gorengan, Ngaku Uan...",https://medan.tribunnews.com/2021/05/24/seoran...,NaN,NaN,NaN,Tribun MedanTV,"['Tribunnews', 'Tribunmedan', 'Seorang Ibu Men...",25,...,False,True,NaN,NaN,252734.0,1952.0,85.0,0,1977.0,2021-05-27 06:00:41.444589+00:00
14509,2021-05-12T12:00:35Z,UCI4XW5E1aeXlRo9tZ2s0AZg,Deen Assalam (Cover Sandy SS feat. Delvira),Deen Assalam - Sulaeman Al Mughny\nCover by Sa...,NaN,NaN,NaN,sandy ss,"['sandy', 'ss', 'syahputra', 'sandi', 'saputra...",10,...,False,False,NaN,NaN,3045662.0,158856.0,71254.0,0,62842.0,2021-05-27 06:00:41.444596+00:00
14510,2021-05-26T06:04:18Z,UCmCKu42dBpkfVpxSzp7d9Kg,DISURUH @BeaconCream 2 JAM JOGET ALOK,SAWER AKU :\nhttps://saweria.co/thedreamcraft\...,NaN,NaN,NaN,The Dream Craft,"['The Dream Craft Indonesia', 'Survival Indone...",24,...,False,True,NaN,NaN,182057.0,17945.0,212.0,0,804.0,2021-05-27 06:00:41.444603+00:00
14511,2021-05-25T12:25:47Z,UCFuM3BWlLM3YbLjkXBiJ8-A,BIKIN MARTABAK KEJU PANDAN SUPER BERSARANG! EN...,Bahan-bahan yang kalian butuhkan adalah:\n\n25...,NaN,NaN,NaN,Jessica Jane,"['JESSICA JANE', 'JESIKA JANE', '24 JAM JESSIC...",24,...,False,True,NaN,NaN,949761.0,80242.0,655.0,0,4810.0,2021-05-27 06:00:41.444610+00:00
14512,2021-05-22T03:16:41Z,UCfzg8Jo-o3tlkenRhLPjSoA,Hantu Penunggu Kamar Mandi - Arwah Berendam di...,Kartun Horor Lucu ini menceritakan tentang Han...,NaN,NaN,NaN,mawarosa 80,"['Kartun Hantu', 'Kartun Horor', 'Kartun Horro...",1,...,False,True,NaN,NaN,99621.0,2051.0,181.0,0,239.0,2021-05-27 06:00:41.444617+00:00
14513,2021-05-22T10:00:33Z,UCdH-Rw8RBSBHwYWZtfCu1Qw,KUALAT HABIS NGETAWAIN ORANG,Yang penting masih hidup ya gwe gengs üôÇüôÇ\n\nCa...,NaN,NaN,NaN,Fergie Jnx,"['fergie jnx', 'egi', 'emak egi', 'egi kecil',...",1,...,True,True,NaN,NaN,140964.0,17265.0,78.0,0,944.0,2021-05-27 06:00:41.444624+00:00
14514,2021-05-19T13:22:31Z,UChO8h2G8UjOVc081rgYU8XQ,Bella Poarch - Build a B*tch (Lyrics),‚ô´ Bella Poarch - Build a B*tch\nStream/Downloa...,NaN,NaN,NaN,Vibe Music,"['Build A B Lyrics', 'Bella Poarch Build A B',...",10,...,False,False,NaN,"['CU', 'IR', 'KP', 'SY']",881956.0,19412.0,291.0,0,1076.0,2021-05-27 06:00:41.444631+00:00
14515,2021-05-08T10:12:03Z,UCRhmWtGmW2lJ_CNGXP6hvIQ,Bagi Aqua (Ini Bukan Aqua?) - #Shorts #ArmanVe...,Benar kan cara bagi Aquanya? #SalamVesona\n\nB...,NaN,NaN,NaN,Arman Vesona,NaN,24,...,False,True,NaN,NaN,3438944.0,87724.0,6377.0,0,572.0,2021-05-27 06:00:41.444638+00:00
14516,2021-05-21T13:00:17Z,UCQrLfLd8y0ncipsXkb_w_SQ,ECKO SHOW X JACKPOOL - Panik Gak? [ Lyric Vide...,"Download ""PANIK GAK?"" disini :\n???link coming...",NaN,NaN,NaN,ECKO SHOW,"['ecko show', 'jack pool', 'jackpool', 'panik ...",10,...,False,True,NaN,NaN,307004.0,23818.0,272.0,0,2420.0,2021-05-27 06:00:41.444645+00:00
14517,2021-05-18T14:00:15Z,UCyLHKUjX_fy8akafmRMr-PA,[MV] Ailee (ÏóêÏùºÎ¶¨) - Breaking Down | Ïñ¥Îäê ÎÇ† Ïö∞Î¶¨ Ïßë ÌòÑ...,tvN ÏõîÌôî ÎìúÎùºÎßà ‚ÄòÏñ¥Îäê ÎÇ† Ïö∞Î¶¨ Ïßë ÌòÑÍ¥ÄÏúºÎ°ú Î©∏ÎßùÏù¥ Îì§Ïñ¥ÏôîÎã§(Ïù¥Ìïò Î©∏Îßù)‚Äô OS...,NaN,NaN,NaN,MUSIC&NEW ÎÆ§ÏßÅÏï§Îâ¥,"['kpop', 'song', 'music&new', 'ÎÆ§ÏßÅÏï§Îâ¥', 'OST', '...",10,...,True,True,NaN,NaN,998135.0,49875.0,117.0,0,1551.0,2021-05-27 06:00:41.444651+00:00
14518,2021-05-18T14:59:58Z,UCzgxx_DM2Dcb9Y1spb9mUJA,"JIHYO PERFORMANCE PROJECT ""Crown (Camila Cabel...","JIHYO PERFORMANCE PROJECT ""Crown (Camila Cabel...",NaN,NaN,NaN,TWICE,"['TWICE', 'Ìä∏ÏôÄÏù¥Ïä§', 'PerformanceProject', 'ÌçºÌè¨Î®ºÏä§ÌîÑ...",10,...,False,False,NaN,"['CU', 'IR', 'KP', 'SY']",5718308.0,805799.0,10622.0,0,72774.0,2021-05-27 06:00:41.444658+00:00
14519,2021-05-24T09:48:50Z,UC8nOUvbfUqYRufAAFBFz72g,SEMALEMAN DALEM MOBIL DITENGAH KUBURAN BARENG ...,Download di sini ya : https://vt.tiktok.com/ZS...,NaN,NaN,NaN,RIYAN PEOTT,"['prank', 'pacar', 'borong perabotan', 'rumah ...",24,...,False,True,NaN,NaN,67791.0,5398.0,102.0,0,743.0,2021-05-27 06:00:41.444666+00:00
14520,2021-05-13T07:00:06Z,UCdpxBSzxXGz_J4K30YGvk_Q,HELENA LIM BUKA-BUKAAN SAMA BOY! CRAZY RICH PI...,-------------\nFind me on other Social Media p...,NaN,NaN,NaN,Boy William,"['boy william', 'nebengboy', 'dibalik pintu', ...",24,...,False,True,NaN,NaN,2424980.0,48838.0,1352.0,0,3034.0,2021-05-27 06:00:41.444673+00:00
14521,2021-05-21T10:29:06Z,UCwIzd032IQjvJ9larkdcwgg,SIAPA YANG GAMBARNYA LEBIH BAGUS? || Tantangan...,"Hai, sobat artistik!\n\nSelamat datang di duni...",NaN,NaN,NaN,123 GO! GOLD Indonesian,"['123', '123 go', '123go', '123 go gold', '123...",24,...,False,True,NaN,NaN,2014523.0,20507.0,2333.0,0,977.0,2021-05-27 06:00:41.444680+00:00
14522,2021-05-22T06:00:09Z,UCfine-VxsozjW6FnssQkwLg,"AKU BAHAGIA, SELAMAT DATANG QUEEN SOPHIA DI KE...",Alohaaaa semua...... Selamat datang di Ivan Gu...,NaN,NaN,NaN,Ivan Gunawan,NaN,26,...,False,True,NaN,NaN,225558.0,10004.0,105.0,0,873.0,2021-05-27 06:00:41.444687+00:00

In [8]:
with pd.option_context("display.max.columns", None) :
    display(df.head())

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,live_status,local_title,local_description,duration,dimension,definition,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,NaN,NaN,SMTOWN,NaN,10,none,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",PT5M7S,2d,hd,True,True,NaN,NaN,7806846.0,857902.0,24078.0,0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,NaN,NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",25,none,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",PT42M30S,2d,hd,False,True,NaN,NaN,885038.0,6765.0,1263.0,0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,NaN,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",2,none,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,PT46M43S,2d,hd,False,True,NaN,NaN,889708.0,47895.0,532.0,0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,NaN,NaN,yb,NaN,20,none,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,PT45M59S,2d,hd,False,True,NaN,NaN,1006854.0,91973.0,3967.0,0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,NaN,NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",17,none,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",PT5M12S,2d,hd,False,True,NaN,NaN,6275035.0,218131.0,4289.0,0,12799.0,2021-02-07 05:46:51.832730+00:00

In [9]:
with pd.option_context("display.max.columns", None, "display.precision", 2) :
    display(df.head())

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,live_status,local_title,local_description,duration,dimension,definition,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,NaN,NaN,SMTOWN,NaN,10,none,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",PT5M7S,2d,hd,True,True,NaN,NaN,7.81e+06,857902.0,24078.0,0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,NaN,NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",25,none,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",PT42M30S,2d,hd,False,True,NaN,NaN,8.85e+05,6765.0,1263.0,0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,NaN,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",2,none,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,PT46M43S,2d,hd,False,True,NaN,NaN,8.90e+05,47895.0,532.0,0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,NaN,NaN,yb,NaN,20,none,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,PT45M59S,2d,hd,False,True,NaN,NaN,1.01e+06,91973.0,3967.0,0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,NaN,NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",17,none,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",PT5M12S,2d,hd,False,True,NaN,NaN,6.28e+06,218131.0,4289.0,0,12799.0,2021-02-07 05:46:51.832730+00:00

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14523 entries, 0 to 14522
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   publish_time       14523 non-null  object
 1   channel_id         14523 non-null  object
 2   title              14523 non-null  object
 3   description        14246 non-null  object
 4   thumbnail_url      0 non-null      float64
 5   thumbnail_width    0 non-null      float64
 6   thumbnail_height   0 non-null      float64
 7   channel_name       14523 non-null  object
 8   tags               12983 non-null  object
 9   category_id        14523 non-null  int64
 10  live_status        14523 non-null  object
 11  local_title        14523 non-null  object
 12  local_description  14246 non-null  object
 13  duration           14523 non-null  object
 14  dimension          14523 non-null  object
 15  definition         14523 non-null  object
 16  caption            14523 non-null  bool
 17  license_status     14523 non-null  bool
 18  allowed_region     493 non-null    object
 19  blocked_region     714 non-null    object
 20  view               14515 non-null  float64
 21  like               14312 non-null  float64
 22  dislike            14312 non-null  float64
 23  favorite           14523 non-null  int64
 24  comment            14407 non-null  float64
 25  trending_time      14523 non-null  object
dtypes: bool(2), float64(7), int64(2), object(15)
memory usage: 2.7+ MB

In [11]:
df.describe()

,thumbnail_url,thumbnail_width,thumbnail_height,category_id,view,like,dislike,favorite,comment
count,0.0,0.0,0.0,14523.000000,1.451500e+04,1.431200e+04,14312.000000,14523.0,1.440700e+04
mean,NaN,NaN,NaN,18.668250,2.831619e+06,1.401115e+05,3272.803382,0.0,1.947793e+04
std,NaN,NaN,NaN,7.332783,8.589446e+06,5.385763e+05,12569.324616,0.0,1.533488e+05
min,NaN,NaN,NaN,1.000000,1.752900e+04,1.600000e+01,0.000000,0.0,0.000000e+00
25%,NaN,NaN,NaN,10.000000,3.259770e+05,7.291500e+03,176.000000,0.0,7.215000e+02
50%,NaN,NaN,NaN,23.000000,9.156800e+05,2.292100e+04,600.500000,0.0,2.408000e+03
75%,NaN,NaN,NaN,24.000000,2.321332e+06,7.876275e+04,2028.000000,0.0,8.092000e+03
max,NaN,NaN,NaN,29.000000,2.265941e+08,1.539527e+07,392340.000000,0.0,6.533968e+06

In [12]:
df.describe(include="object")

,publish_time,channel_id,title,description,channel_name,tags,live_status,local_title,local_description,duration,dimension,definition,allowed_region,blocked_region,trending_time
count,14523,14523,14523,14246,14523,12983,14523,14523,14246,14523,14523,14523,493,714,14523
unique,3386,1092,3458,3313,1093,2474,1,3458,3313,1507,1,2,30,81,14523
top,2021-04-01T09:00:15Z,UCYk4LJI0Pr6RBDWowMm-KUw,Top Lagu Pop Indonesia Terbaru 2021 Hits Pilih...,Talk show malam yang akan memberikan informasi...,Deddy Corbuzier,"['123', '123 go', '123go', '123 go gold', '123...",none,Top Lagu Pop Indonesia Terbaru 2021 Hits Pilih...,Talk show malam yang akan memberikan informasi...,PT4M14S,2d,hd,['ID'],"['IO', 'KP', 'SS']",2021-04-05 13:18:39.778873+00:00
freq,25,147,35,62,147,106,14523,35,62,113,14523,14323,232,111,1

In [13]:
df.describe(include="number")

,thumbnail_url,thumbnail_width,thumbnail_height,category_id,view,like,dislike,favorite,comment
count,0.0,0.0,0.0,14523.000000,1.451500e+04,1.431200e+04,14312.000000,14523.0,1.440700e+04
mean,NaN,NaN,NaN,18.668250,2.831619e+06,1.401115e+05,3272.803382,0.0,1.947793e+04
std,NaN,NaN,NaN,7.332783,8.589446e+06,5.385763e+05,12569.324616,0.0,1.533488e+05
min,NaN,NaN,NaN,1.000000,1.752900e+04,1.600000e+01,0.000000,0.0,0.000000e+00
25%,NaN,NaN,NaN,10.000000,3.259770e+05,7.291500e+03,176.000000,0.0,7.215000e+02
50%,NaN,NaN,NaN,23.000000,9.156800e+05,2.292100e+04,600.500000,0.0,2.408000e+03
75%,NaN,NaN,NaN,24.000000,2.321332e+06,7.876275e+04,2028.000000,0.0,8.092000e+03
max,NaN,NaN,NaN,29.000000,2.265941e+08,1.539527e+07,392340.000000,0.0,6.533968e+06

In [14]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
publish_time,14523,3386,2021-04-01T09:00:15Z,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
channel_id,14523,1092,UCYk4LJI0Pr6RBDWowMm-KUw,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,14523,3458,Top Lagu Pop Indonesia Terbaru 2021 Hits Pilih...,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,14246,3313,Talk show malam yang akan memberikan informasi...,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thumbnail_url,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thumbnail_width,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thumbnail_height,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
channel_name,14523,1093,Deddy Corbuzier,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tags,12983,2474,"['123', '123 go', '123go', '123 go gold', '123...",106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category_id,14523,NaN,NaN,NaN,18.6683,7.33278,1,10,23,24,29
live_status,14523,1,none,14523,NaN,NaN,NaN,NaN,NaN,NaN,NaN
local_title,14523,3458,Top Lagu Pop Indonesia Terbaru 2021 Hits Pilih...,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
local_description,14246,3313,Talk show malam yang akan memberikan informasi...,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,14523,1507,PT4M14S,113,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dimension,14523,1,2d,14523,NaN,NaN,NaN,NaN,NaN,NaN,NaN
definition,14523,2,hd,14323,NaN,NaN,NaN,NaN,NaN,NaN,NaN
caption,14523,2,False,12507,NaN,NaN,NaN,NaN,NaN,NaN,NaN
license_status,14523,2,True,13675,NaN,NaN,NaN,NaN,NaN,NaN,NaN
allowed_region,493,30,['ID'],232,NaN,NaN,NaN,NaN,NaN,NaN,NaN
blocked_region,714,81,"['IO', 'KP', 'SS']",111,NaN,NaN,NaN,NaN,NaN,NaN,NaN
view,14515,NaN,NaN,NaN,2.83162e+06,8.58945e+06,17529,325977,915680,2.32133e+06,2.26594e+08
like,14312,NaN,NaN,NaN,140111,538576,16,7291.5,22921,78762.8,1.53953e+07
dislike,14312,NaN,NaN,NaN,3272.8,12569.3,0,176,600.5,2028,392340
favorite,14523,NaN,NaN,NaN,0,0,0,0,0,0,0
comment,14407,NaN,NaN,NaN,19477.9,153349,0,721.5,2408,8092,6.53397e+06
trending_time,14523,14523,2021-04-05 13:18:39.778873+00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.columns

Index(['publish_time', 'channel_id', 'title', 'description', 'thumbnail_url',
       'thumbnail_width', 'thumbnail_height', 'channel_name', 'tags',
       'category_id', 'live_status', 'local_title', 'local_description',
       'duration', 'dimension', 'definition', 'caption', 'license_status',
       'allowed_region', 'blocked_region', 'view', 'like', 'dislike',
       'favorite', 'comment', 'trending_time'],
      dtype='object')

In [16]:
print(type(df.columns))
print(df.columns)

<class 'pandas.core.indexes.base.Index'>
Index(['publish_time', 'channel_id', 'title', 'description', 'thumbnail_url',
       'thumbnail_width', 'thumbnail_height', 'channel_name', 'tags',
       'category_id', 'live_status', 'local_title', 'local_description',
       'duration', 'dimension', 'definition', 'caption', 'license_status',
       'allowed_region', 'blocked_region', 'view', 'like', 'dislike',
       'favorite', 'comment', 'trending_time'],
      dtype='object')

In [17]:
df.head()

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,...,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,NaN,NaN,SMTOWN,NaN,10,...,True,True,NaN,NaN,7806846.0,857902.0,24078.0,0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,NaN,NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",25,...,False,True,NaN,NaN,885038.0,6765.0,1263.0,0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,NaN,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",2,...,False,True,NaN,NaN,889708.0,47895.0,532.0,0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,NaN,NaN,yb,NaN,20,...,False,True,NaN,NaN,1006854.0,91973.0,3967.0,0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,NaN,NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",17,...,False,True,NaN,NaN,6275035.0,218131.0,4289.0,0,12799.0,2021-02-07 05:46:51.832730+00:00

In [18]:
df["channel_id"].value_counts()

UCYk4LJI0Pr6RBDWowMm-KUw    147
UC24_Z2L-8Ki183AI9zJJzNQ    145
UCpr5mSSUbIQU816dNjaDdyg    128
UC5BMIWZe9isJXLZZWPWvBlg    123
UCEf_Bc-KVd7onSeifS3py9g    123
                           ...
UCCt4LNqlwlgsWA28WvNxcCw      1
UCkmF9-L907T0I0jhQnERhnw      1
UCtD2hfWNpkh4fynfmx9xJCQ      1
UCb0otfoyPjSxF2bLbahjxlA      1
UCzsF1ghKHeif7AmTNlRYAzQ      1
Name: channel_id, Length: 1092, dtype: int64

In [20]:
df["channel_id"].value_counts().head(20)

UCYk4LJI0Pr6RBDWowMm-KUw    147
UC24_Z2L-8Ki183AI9zJJzNQ    145
UCpr5mSSUbIQU816dNjaDdyg    128
UC5BMIWZe9isJXLZZWPWvBlg    123
UCEf_Bc-KVd7onSeifS3py9g    123
UCEHprhvK2xu0CYKcnbMshBw    116
UCwIzd032IQjvJ9larkdcwgg    106
UCYqOeAXJm8yV9sJ8Ud3cR7A    103
UCGXnDxirLuSrIHwQXWxRzeg    103
UCLojthXNTLMGp6XSp4wgPRw    102
UCC6SejZDisqDrBmc37dVE1A     93
UCBJeMCIeLQos7wacox4hmLQ     92
UCyNjDKW9XGAsUdmv21KDwFA     90
UCER4rvDnRBPr_ncYW4UCZjg     90
UCmxAIW7RDDC88EPk4ry16Kg     89
UChFRHojUZJ9KfC4SHcN5wZA     88
UCmB1_agPlXbbwTCPKEuwEKA     86
UCaxNFw2ryxzjSAxRVP-0Dfg     84
UCaKLg1ELiX0zTJ6Je3c5esA     75
UC43nz9qnZ7AIrbOlfxejTig     74
Name: channel_id, dtype: int64

In [21]:
df["channel_id"].value_counts().tail(20)

UCKNZsAeQXpvI-Mpoc0ZKhsA    1
UCD_fhk1uFl_JpJVhZtgL4bw    1
UCNMCozStlkA0wAXMHPuAgDA    1
UCsfBhdQQmE0NuljXe-Gl5Dg    1
UC1t0D_DTMpICiEfO4FZxnGw    1
UCnTB-B8A9SKJiXZFX-VqSfw    1
UC99IVRmbb0vJZ1Vge2HtMHg    1
UC134LS-hsuP28mcMCsRdUhQ    1
UCgrNz-aDmcr2uuto8_DL2jg    1
UCKl0lSAwg7B50fuvyi9li3Q    1
UCkUm5N7OmgXmVqpJoNMIsYg    1
UC42ZduLx6o3Nqg04kMuMCEw    1
UCycj6O-hdZtR0vJxXB8jrLw    1
UCyGa1YEx9ST66rYrJTGIKOw    1
UCSWwb_YyNB8vuC1VDcfPPaQ    1
UCCt4LNqlwlgsWA28WvNxcCw    1
UCkmF9-L907T0I0jhQnERhnw    1
UCtD2hfWNpkh4fynfmx9xJCQ    1
UCb0otfoyPjSxF2bLbahjxlA    1
UCzsF1ghKHeif7AmTNlRYAzQ    1
Name: channel_id, dtype: int64

In [25]:
df["channel_id"].nunique()

1092

In [26]:
df["channel_id"].unique()

array(['UCEf_Bc-KVd7onSeifS3py9g', 'UCYEa4_MC7OFjcWrO6SO-u8g',
       'UCu12RxQjRQyh79YBYvEDkOg', ..., 'UCJHC3VbFsp7kJ2NxPGltwiw',
       'UCFQoE23adk7NSPNhBlanu4w', 'UC8nOUvbfUqYRufAAFBFz72g'],
      dtype=object)

In [27]:
df["view"].value_counts()

174888.0      2
1292241.0     2
130356.0      2
1136591.0     2
2699055.0     2
             ..
3889133.0     1
2578411.0     1
59697455.0    1
939510.0      1
22528.0       1
Name: view, Length: 14454, dtype: int64

In [28]:
df["view"].nunique()

14454

In [29]:
df["view"].unique()

array([7806846.,  885038.,  889708., ..., 2424980., 2014523.,  225558.])

In [22]:
df["category_id"].value_counts()

24    4409
10    3653
25    1572
22    1307
17    1132
1      519
26     502
23     413
2      248
20     246
27     141
29     123
28     117
15      85
19      56
Name: category_id, dtype: int64

In [23]:
df["category_id"].nunique()

15

In [24]:
df["category_id"].unique()

array([10, 25,  2, 20, 17, 24, 23, 22, 26, 29,  1, 27, 28, 15, 19],
      dtype=int64)

In [32]:
df["category_id"].value_counts().index

Int64Index([24, 10, 25, 22, 17, 1, 26, 23, 2, 20, 27, 29, 28, 15, 19], dtype='int64')

In [33]:
df.columns

Index(['publish_time', 'channel_id', 'title', 'description', 'thumbnail_url',
       'thumbnail_width', 'thumbnail_height', 'channel_name', 'tags',
       'category_id', 'live_status', 'local_title', 'local_description',
       'duration', 'dimension', 'definition', 'caption', 'license_status',
       'allowed_region', 'blocked_region', 'view', 'like', 'dislike',
       'favorite', 'comment', 'trending_time'],
      dtype='object')

In [34]:
summary_cols = ["publish_time", "channel_id", "channel_name", "category_id", "view", "like", "dislike", "trending_time"]
df_summary = df[summary_cols].copy()
df_summary

,publish_time,channel_id,channel_name,category_id,view,like,dislike,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,7806846.0,857902.0,24078.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,Indonesia Lawyers Club,25,885038.0,6765.0,1263.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,Motomobi,2,889708.0,47895.0,532.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,yb,20,1006854.0,91973.0,3967.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,FC Barcelona,17,6275035.0,218131.0,4289.0,2021-02-07 05:46:51.832730+00:00
...,...,...,...,...,...,...,...,...
14518,2021-05-18T14:59:58Z,UCzgxx_DM2Dcb9Y1spb9mUJA,TWICE,10,5718308.0,805799.0,10622.0,2021-05-27 06:00:41.444658+00:00
14519,2021-05-24T09:48:50Z,UC8nOUvbfUqYRufAAFBFz72g,RIYAN PEOTT,24,67791.0,5398.0,102.0,2021-05-27 06:00:41.444666+00:00
14520,2021-05-13T07:00:06Z,UCdpxBSzxXGz_J4K30YGvk_Q,Boy William,24,2424980.0,48838.0,1352.0,2021-05-27 06:00:41.444673+00:00
14521,2021-05-21T10:29:06Z,UCwIzd032IQjvJ9larkdcwgg,123 GO! GOLD Indonesian,24,2014523.0,20507.0,2333.0,2021-05-27 06:00:41.444680+00:00
14522,2021-05-22T06:00:09Z,UCfine-VxsozjW6FnssQkwLg,Ivan Gunawan,26,225558.0,10004.0,105.0,2021-05-27 06:00:41.444687+00:00

In [35]:
df_summary.loc[:5, ["like", "dislike"]]

       like  dislike
0  857902.0  24078.0
1    6765.0   1263.0
2   47895.0    532.0
3   91973.0   3967.0
4  218131.0   4289.0
5   63530.0    978.0

In [36]:
df_summary.loc[[0, 2, 4, 6, 8], ["channel_name", "view"]]

                channel_name       view
0                     SMTOWN  7806846.0
2                   Motomobi   889708.0
4               FC Barcelona  6275035.0
6  Apa Kabar Indonesia tvOne  1493171.0
8                Picky Picks  1955271.0

In [37]:
df_summary.iloc[:10, [-2, -1]]

   dislike                     trending_time
0  24078.0  2021-02-07 05:46:51.832614+00:00
1   1263.0  2021-02-07 05:46:51.832649+00:00
2    532.0  2021-02-07 05:46:51.832664+00:00
3   3967.0  2021-02-07 05:46:51.832678+00:00
4   4289.0  2021-02-07 05:46:51.832730+00:00
5    978.0  2021-02-07 05:46:51.832751+00:00
6   1694.0  2021-02-07 05:46:51.832766+00:00
7   2339.0  2021-02-07 05:46:51.832780+00:00
8   1586.0  2021-02-07 05:46:51.832791+00:00
9  14383.0  2021-02-07 05:46:51.832803+00:00

In [38]:
df_summary.loc[0]

publish_time                 2021-02-05T09:00:34Z
channel_id               UCEf_Bc-KVd7onSeifS3py9g
channel_name                               SMTOWN
category_id                                    10
view                                  7.80685e+06
like                                       857902
dislike                                     24078
trending_time    2021-02-07 05:46:51.832614+00:00
Name: 0, dtype: object

In [39]:
df_summary[df_summary["channel_name"] == "SMTOWN"]

,publish_time,channel_id,channel_name,category_id,view,like,dislike,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,7806846.0,857902.0,24078.0,2021-02-07 05:46:51.832614+00:00
18,2021-02-04T09:00:09Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,1926293.0,274399.0,6301.0,2021-02-07 05:46:51.833035+00:00
200,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,8535337.0,880061.0,26084.0,2021-02-07 12:15:58.377224+00:00
219,2021-02-04T09:00:09Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,1936376.0,274844.0,6327.0,2021-02-07 12:15:58.377496+00:00
402,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,9745275.0,927749.0,29544.0,2021-02-08 11:56:45.332377+00:00
...,...,...,...,...,...,...,...,...
13966,2021-05-10T09:02:33Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,84903561.0,2605165.0,39265.0,2021-05-25 06:01:04.439292+00:00
14142,2021-05-17T09:00:02Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,79332005.0,1788357.0,66371.0,2021-05-26 06:00:47.429526+00:00
14182,2021-05-10T09:02:33Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,85962829.0,2626361.0,39584.0,2021-05-26 06:00:47.429853+00:00
14345,2021-05-17T09:00:02Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,80349313.0,1805943.0,67276.0,2021-05-27 06:00:41.443295+00:00
14391,2021-05-10T09:02:33Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,86872717.0,2650727.0,40005.0,2021-05-27 06:00:41.443693+00:00

In [40]:
df_SMTOWN_view = df_summary[
    (df_summary["channel_name"] == "SMTOWN")
    & (df_summary.like > df_summary.dislike)
]

In [41]:
df_SMTOWN_view["like"].value_counts()

429567.0     1
871243.0     1
990797.0     1
1045326.0    1
1015631.0    1
            ..
659377.0     1
274522.0     1
619957.0     1
659697.0     1
927749.0     1
Name: like, Length: 123, dtype: int64

In [42]:
df_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14523 entries, 0 to 14522
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   publish_time   14523 non-null  object
 1   channel_id     14523 non-null  object
 2   channel_name   14523 non-null  object
 3   category_id    14523 non-null  int64
 4   view           14515 non-null  float64
 5   like           14312 non-null  float64
 6   dislike        14312 non-null  float64
 7   trending_time  14523 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 907.8+ KB

In [46]:
df_summary.loc[
    (df_summary.view >= 2021)
    & (df_summary.like > df_summary.dislike),
    "channel_name"
].value_counts()

TRANS7 OFFICIAL         145
Deddy Corbuzier         143
Indonesian Idol         128
SMTOWN                  123
KOMPASTV                123
                       ...
boboucool TV              1
CGTN                      1
5-Minute Crafts PLAY      1
MBC RadioÎ¥âÏ∂òÎùºÎîîÏò§            1
Stephanie Poetri          1
Name: channel_name, Length: 1078, dtype: int64

In [48]:
df.loc[
    (df["channel_name"] == "SMTOWN") & (df["channel_id"].str.startswith("UC")),
    ["view", "like", "dislike", "trending_time"]
]

             view       like  dislike                     trending_time
0       7806846.0   857902.0  24078.0  2021-02-07 05:46:51.832614+00:00
18      1926293.0   274399.0   6301.0  2021-02-07 05:46:51.833035+00:00
200     8535337.0   880061.0  26084.0  2021-02-07 12:15:58.377224+00:00
219     1936376.0   274844.0   6327.0  2021-02-07 12:15:58.377496+00:00
402     9745275.0   927749.0  29544.0  2021-02-08 11:56:45.332377+00:00
...           ...        ...      ...                               ...
13966  84903561.0  2605165.0  39265.0  2021-05-25 06:01:04.439292+00:00
14142  79332005.0  1788357.0  66371.0  2021-05-26 06:00:47.429526+00:00
14182  85962829.0  2626361.0  39584.0  2021-05-26 06:00:47.429853+00:00
14345  80349313.0  1805943.0  67276.0  2021-05-27 06:00:41.443295+00:00
14391  86872717.0  2650727.0  40005.0  2021-05-27 06:00:41.443693+00:00

[123 rows x 4 columns]

In [49]:
df_SMTOWN_view.sort_values(["like", "dislike"], ascending=False)

,publish_time,channel_id,channel_name,category_id,view,like,dislike,trending_time
14391,2021-05-10T09:02:33Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,86872717.0,2650727.0,40005.0,2021-05-27 06:00:41.443693+00:00
14182,2021-05-10T09:02:33Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,85962829.0,2626361.0,39584.0,2021-05-26 06:00:47.429853+00:00
13966,2021-05-10T09:02:33Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,84903561.0,2605165.0,39265.0,2021-05-25 06:01:04.439292+00:00
13752,2021-05-10T09:02:33Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,83680705.0,2579027.0,38938.0,2021-05-24 06:01:09.120831+00:00
13545,2021-05-10T09:02:33Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,82336687.0,2548042.0,38510.0,2021-05-23 06:00:47.664613+00:00
...,...,...,...,...,...,...,...,...
1055,2021-02-04T09:00:09Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,1973338.0,274419.0,6407.0,2021-02-10 12:45:19.590650+00:00
18,2021-02-04T09:00:09Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,1926293.0,274399.0,6301.0,2021-02-07 05:46:51.833035+00:00
840,2021-02-04T09:00:09Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,1968092.0,274245.0,6386.0,2021-02-09 11:48:43.133502+00:00
636,2021-02-04T09:00:09Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,1966228.0,274200.0,6383.0,2021-02-09 07:59:40.052315+00:00
431,2021-02-04T09:00:09Z,UCEf_Bc-KVd7onSeifS3py9g,SMTOWN,10,1956708.0,273990.0,6359.0,2021-02-08 11:56:45.332620+00:00

In [51]:
df.groupby("channel_name")[["like", "dislike"]].sum()

                                                  like  dislike
channel_name
#temantapimenikah                               8887.0     35.0
(G)I-DLE (Ïó¨Ïûê)ÏïÑÏù¥Îì§ (Official YouTube Channel)  2564565.0  10895.0
1 vs 9999                                      12729.0   3913.0
10 News First                                 223457.0  27381.0
100kpj com                                      1158.0     41.0
...                                                ...      ...
Ï∞¨Ïö∞ÏÇ¥Ïù¥                                           96442.0     94.0
Ï±ÑÎÑê Ïã≠Ïò§Ïïº                                       4397728.0  29123.0
ÏµúÏãúÏõê Siwon Choi                                134408.0    256.0
ÌÇ§Ïù¥Ïä§Ìä∏ KEYEAST official                         130107.0    446.0
ÌòÄÎãàÏΩ§Î≥¥ TV                                       268274.0    333.0

[1093 rows x 2 columns]

In [52]:
df_la_base_channel = df.loc[
    df["channel_id"].str.startswith("UC")
]
df_la_base_channel

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,...,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,NaN,NaN,SMTOWN,NaN,10,...,True,True,NaN,NaN,7806846.0,857902.0,24078.0,0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,NaN,NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",25,...,False,True,NaN,NaN,885038.0,6765.0,1263.0,0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,NaN,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",2,...,False,True,NaN,NaN,889708.0,47895.0,532.0,0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,NaN,NaN,yb,NaN,20,...,False,True,NaN,NaN,1006854.0,91973.0,3967.0,0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,NaN,NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",17,...,False,True,NaN,NaN,6275035.0,218131.0,4289.0,0,12799.0,2021-02-07 05:46:51.832730+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14518,2021-05-18T14:59:58Z,UCzgxx_DM2Dcb9Y1spb9mUJA,"JIHYO PERFORMANCE PROJECT ""Crown (Camila Cabel...","JIHYO PERFORMANCE PROJECT ""Crown (Camila Cabel...",NaN,NaN,NaN,TWICE,"['TWICE', 'Ìä∏ÏôÄÏù¥Ïä§', 'PerformanceProject', 'ÌçºÌè¨Î®ºÏä§ÌîÑ...",10,...,False,False,NaN,"['CU', 'IR', 'KP', 'SY']",5718308.0,805799.0,10622.0,0,72774.0,2021-05-27 06:00:41.444658+00:00
14519,2021-05-24T09:48:50Z,UC8nOUvbfUqYRufAAFBFz72g,SEMALEMAN DALEM MOBIL DITENGAH KUBURAN BARENG ...,Download di sini ya : https://vt.tiktok.com/ZS...,NaN,NaN,NaN,RIYAN PEOTT,"['prank', 'pacar', 'borong perabotan', 'rumah ...",24,...,False,True,NaN,NaN,67791.0,5398.0,102.0,0,743.0,2021-05-27 06:00:41.444666+00:00
14520,2021-05-13T07:00:06Z,UCdpxBSzxXGz_J4K30YGvk_Q,HELENA LIM BUKA-BUKAAN SAMA BOY! CRAZY RICH PI...,-------------\nFind me on other Social Media p...,NaN,NaN,NaN,Boy William,"['boy william', 'nebengboy', 'dibalik pintu', ...",24,...,False,True,NaN,NaN,2424980.0,48838.0,1352.0,0,3034.0,2021-05-27 06:00:41.444673+00:00
14521,2021-05-21T10:29:06Z,UCwIzd032IQjvJ9larkdcwgg,SIAPA YANG GAMBARNYA LEBIH BAGUS? || Tantangan...,"Hai, sobat artistik!\n\nSelamat datang di duni...",NaN,NaN,NaN,123 GO! GOLD Indonesian,"['123', '123 go', '123go', '123 go gold', '123...",24,...,False,True,NaN,NaN,2014523.0,20507.0,2333.0,0,977.0,2021-05-27 06:00:41.444680+00:00
14522,2021-05-22T06:00:09Z,UCfine-VxsozjW6FnssQkwLg,"AKU BAHAGIA, SELAMAT DATANG QUEEN SOPHIA DI KE...",Alohaaaa semua...... Selamat datang di Ivan Gu...,NaN,NaN,NaN,Ivan Gunawan,NaN,26,...,False,True,NaN,NaN,225558.0,10004.0,105.0,0,873.0,2021-05-27 06:00:41.444687+00:00

In [54]:
df_la_base_channel[
    df_la_base_channel.category_id >= 10
].groupby(["channel_name", "view"])["like"].count()

channel_name                                 view
#temantapimenikah                            151666.0     1
(G)I-DLE (Ïó¨Ïûê)ÏïÑÏù¥Îì§ (Official YouTube Channel)  3071393.0    1
                                             3792775.0    1
                                             4736284.0    1
                                             5640513.0    1
                                                         ..
ÌòÄÎãàÏΩ§Î≥¥ TV                                      242479.0     1
                                             266321.0     1
                                             294398.0     1
                                             305019.0     1
                                             338127.0     1
Name: like, Length: 13733, dtype: int64

In [57]:
df_la_base_channel[
    (df_la_base_channel.category_id == "10")
    & (df_la_base_channel.channel_name == "SMTOWN")
    & (df_la_base_channel.view >= 7000000)
].shape[0]

0