ini adalah markdown. Ini adalah **bold**.

In [1]:
100

100

In [2]:
!python --version

Python 3.8.5

In [3]:
type(999)

int

In [4]:
type(3.14)

float

In [5]:
type(1.0)

float

In [6]:
type(1)

int

In [7]:
print(1.)
type(1.)

1.0

float

In [8]:
print(.3)
type(.3)

0.3

float

In [9]:
print(12345)

12345

In [10]:
12345

12345

In [11]:
print("hactiv8")
print('hactiv8')
print("""hactiv8""")
print('''hactiv8''')
print("ha'tiv")
print("\"i am attending ha'tiv8\", He said")
print('"I am attending ha\'tiv8", He said')
print("""--
I am ha'tiv.
i am attending hactiv8
--""")

hactiv8
hactiv8
hactiv8
hactiv8
ha'tiv
"i am attending ha'tiv8", He said
"I am attending ha'tiv8", He said
--
I am ha'tiv.
i am attending hactiv8
--

In [12]:
'PYTN053ONL001'

'PYTN053ONL001'

In [13]:
print(100, 100., '100')

100 100.0 100

In [14]:
type(True), type(False)

(bool, bool)

In [15]:
print(True)

True

In [16]:
True

True

In [17]:
int(10.71), float(100), str(19), bool(1), bool(-10)

(10, 100.0, '19', True, True)

In [18]:
bool(0), bool(None), bool("")

(False, False, False)

In [19]:
n = 300
print(n)

300

In [20]:
(n)

300

In [21]:
a = b = c = 300
print(a, b, c)

300 300 300

In [22]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [23]:
n = 1000
a = b = c = 500
x = y = 3.14

print(n, type(n))
print(a, b, c, type(a), type(b), type(c))
print(x, y, type(x), type(y))

1000 <class 'int'>
500 500 500 <class 'int'> <class 'int'> <class 'int'>
3.14 3.14 <class 'float'> <class 'float'>

In [25]:
s = "hacktivate"
n = str(n)

print(s, type(s))
print(n, type(n))

hacktivate <class 'str'>
1000 <class 'str'>

In [26]:
username = "muhammadyusuf"
num_students = 14
COUNT = 5

print(username, num_students, COUNT)

COUNT = 10
print(COUNT)

muhammadyusuf 14 5
10

In [32]:
print(a + b)
print(a * b, type(a * b))
print(a / b, type (a / b))
print(a // b, type (a // b))
print(a - x)
print(a ** 10)
print(a % x)

1000
250000 <class 'int'>
1.0 <class 'float'>
1 <class 'int'>
496.86
976562500000000000000000000
0.7399999999999802

In [34]:
5 % 2, 10 % 6

(1, 4)

In [35]:
print(s * 3)

hacktivatehacktivatehacktivate

In [41]:
print(s + str(3))
print("hactive" + "." + "8")
print("hactive" + "" + "8")
print("hactive" + " " + "8")
print("hactive" + "" + "8", "hactive" + "8", "hactive" + str(8))

hacktivate3
hactive.8
hactive8
hactive 8
hactive8 hactive8 hactive8

In [42]:
print(s - s)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [43]:
type(print("sadadas" * -1))

NoneType

In [44]:
print(s / 2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [45]:
book_title = "monty's python"
bootcamp_name = "hacktiv8"
password = "mY9nAmEIS"

print(book_title)
print(bootcamp_name)
print(book_title.title())
print(bootcamp_name.capitalize())

monty's python
hacktiv8
Monty'S Python
Hacktiv8